@using PurpleBuzzWeb.ViewModel;
@model List<BasketItemVM>
@{
    int count = 1;
}

<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">ImagePath</th>
                <th scope="col">Name</th>
                <th scope="col">CategoryName</th>
                <th scope="col">Count</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (BasketItemVM item in Model)
            {
                <tr>
                    <th scope="row">@count</th>
                    <td><img style="width: 130px; height: 130px;" src="~/assets/img/@item.ImagePath"></td>
                    <td>@item.Name</td>
                    <td>@item.CategoryName</td>
                    <td>@item.ServiceCount</td>
                    <td>@(item.Price * item.ServiceCount)</td>

                </tr>
                count++;
            }
        </tbody>
    </table>
</div>